{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Deals for {{dining_name.rest_name}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href='{% static "foods/images/favicon.ico" %}'>
    <link rel="apple-touch-icon" href='{% static "foods/images/icon.png" %}'>

    <!-- Stylesheets -->
    <link rel="stylesheet" href='{% static "foods/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "foods/css/plugins.css" %}'>
    <link rel="stylesheet" href='{% static "foods/style.css" %}'>

    <!-- Cusom css -->
    <link rel="stylesheet" href='{% static "foods/css/custom.css" %}'>

    <!-- Modernizer js -->
    <script src='{% static "foods/js/vendor/modernizr-3.5.0.min.js" %}'></script>
</head>

<body>
    <!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

    <!-- Add your site or application content here -->

    <!-- <div class="fakeloader"></div> -->

    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper">
        <!-- Start Header Area -->
        <!-- Start Mainmenu Area -->
        <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-sm-4 col-md-6 order-1 order-lg-1">
                        <div class="logo">
                            <a href="{% url 'offer_list' %}">
                                <img src='{% static "foods/images/logo/foody.png" alt="logo images" %}'>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-sm-4 col-md-2 order-3 order-lg-2">
                        <div class="main__menu__wrap">
                            <nav class="main__menu__nav d-none d-lg-block">
                                <ul class="mainmenu">
                                    <li class="drop"><a href="index.html">Home</a>
                                    </li>
                                    <li><a href="about-us.html">About</a></li>
                                    <li class="drop"><a href="menu-grid.html">Cuisines</a>
                                        <ul class="dropdown__menu">
                                            <li><a href="menu-grid.html">Menu Grid</a></li>
                                            <li><a href="menu-list.html">Menu List</a></li>
                                            <li><a href="menu-details.html">Menu Details</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="mobile-menu d-block d-lg-none"></div>
                <!-- Mobile Menu -->
            </div>
        </div>
        <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Area -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--18">
            <div class="ht__bradcaump__wrap d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Blog Details</h2>
                                <nav class="bradcaump-inner">
                                    <a class="breadcrumb-item" href="index.html">Home</a>
                                    <span class="brd-separetor"><i class="zmdi zmdi-long-arrow-right"></i></span>
                                    <span class="breadcrumb-item active">Blog Details</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Blog List View Area -->
        <section class="blog__details__wrapper section-padding--lg blog-details-page bg--white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="blog__details__container">

                            <!-- Start Blog Details -->
                            <div class="bl__details__inner">
                                <div class="bl__details__content">
                                    <span>Cuisine: Pasta</span>
                                    <h2>{{dining_name.rest_name}}</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labor dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ualiqui comi modo consequat. Duis aute irure
                                        dolor in reprehenderit in voluptate velit esse cillumfugiat nu
                                        pariatur.Excepteur sint occaecat cupidatat non proident,</p>
                                    <div class="rel__blog__list d-flex align-items-start justify-content-between">

                                    </div>

                                    <div class="bl__share d-flex">
                                        <span>Share by:</span>
                                        <ul class="blog__social__net d-flex">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- End Comment Form -->
                            </div>
                            <!-- End Blog Details -->
                        </div>
                    </div>
                    <!-- Start Category Area -->
                    <div class="food__category__area mt--60">
                        <h4 class="side__title" style="margin-bottom: 5px;">Offers</h4>
                        <p>This Restaurant currently has {{number_of_offers}} offer(s).</p>
                        <ul class="food__category" style="padding-top: 5px;">
                            {% for i in dining_offers %}
                            <li>{{i.rest_offer}} by {{i.source}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- End Category Area -->

                </div>
            </div>
    </div>
    </div>
    </section>
    <!-- End Blog List View Area -->
    <!-- End Single Footer -->
    </div>
    </div>
    </div>
    <div class="copyright bg--theme">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="copyright__inner">
                        <div class="cpy__right--left">
                            <p>@All Right Reserved.<a href="https://devitems.com">Devitems</a></p>
                        </div>
                        <div class="cpy__right--right">
                            <a href="#">
                                <img src="images/icon/shape/2.png" alt="payment images">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </footer>
    <!-- End Footer Area -->
    <!-- Cartbox -->
    <div class="cartbox-wrap">
        <div class="cartbox text-right">
            <button class="cartbox-close"><i class="zmdi zmdi-close"></i></button>
            <div class="cartbox__inner text-left">
                <div class="cartbox__items">
                    <!-- Cartbox Single Item -->
                    <div class="cartbox__item">
                        <div class="cartbox__item__thumb">
                            <a href="product-details.html">
                                <img src="images/blog/sm-img/1.jpg" alt="small thumbnail">
                            </a>
                        </div>
                        <div class="cartbox__item__content">
                            <h5><a href="product-details.html" class="product-name">Vanila Muffin</a></h5>
                            <p>Qty: <span>01</span></p>
                            <span class="price">$15</span>
                        </div>
                        <button class="cartbox__item__remove">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div><!-- //Cartbox Single Item -->
                    <!-- Cartbox Single Item -->
                    <div class="cartbox__item">
                        <div class="cartbox__item__thumb">
                            <a href="product-details.html">
                                <img src="images/blog/sm-img/2.jpg" alt="small thumbnail">
                            </a>
                        </div>
                        <div class="cartbox__item__content">
                            <h5><a href="product-details.html" class="product-name">Wheat Bread</a></h5>
                            <p>Qty: <span>01</span></p>
                            <span class="price">$25</span>
                        </div>
                        <button class="cartbox__item__remove">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div><!-- //Cartbox Single Item -->
                    <!-- Cartbox Single Item -->
                    <div class="cartbox__item">
                        <div class="cartbox__item__thumb">
                            <a href="product-details.html">
                                <img src="images/blog/sm-img/3.jpg" alt="small thumbnail">
                            </a>
                        </div>
                        <div class="cartbox__item__content">
                            <h5><a href="product-details.html" class="product-name">Mixed Fruits Pie</a></h5>
                            <p>Qty: <span>01</span></p>
                            <span class="price">$30</span>
                        </div>
                        <button class="cartbox__item__remove">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div><!-- //Cartbox Single Item -->
                </div>
                <div class="cartbox__total">
                    <ul>
                        <li><span class="cartbox__total__title">Subtotal</span><span class="price">$70</span></li>
                        <li class="shipping-charge"><span class="cartbox__total__title">Shipping Charge</span><span
                                class="price">$05</span></li>
                        <li class="grandtotal">Total<span class="price">$75</span></li>
                    </ul>
                </div>
                <div class="cartbox__buttons">
                    <a class="food__btn" href="cart.html"><span>View cart</span></a>
                    <a class="food__btn" href="checkout.html"><span>Checkout</span></a>
                </div>
            </div>
        </div>
    </div><!-- //Cartbox -->
    </div><!-- //Main wrapper -->

    <!-- JS Files -->
    <script src='{% static "js/vendor/jquery-3.2.1.min.js" %}'></script>
    <script src='{% static "js/popper.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/plugins.js" %}'></script>
    <script src='{% static "js/active.js" %}'></script>
</body>

</html>